/* style.css */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: forestgreen;
    padding: 20px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/*Book info part*/

.book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightslategray;
}

.book-cover {
    height: 200px;
    width: 150px;
    margin: 10px;
}

.book-details {
    display: flex;
    flex-direction: column;
}

.book-title, .book-author, .book-pages {
    margin: 5px;
}

.buy-button {
    margin: 30px;
    cursor: pointer;
}

/*Cart items*/

.cart-item article {
    display: flex;
    align-items: center;
    justify-content: left;
}

.cart-item figure {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.cart-book-cover {
    height: 100px;
    width: 75px;
    padding: 10px;
}

.delete-item {
    text-align: right;
    margin-left: 10px;
}
